<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MySummer Home</title>
    <script src="https://code.jquery.com/jquery-2.0.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
</head>
<body>
<div class="wrapper">
    <header class="main-header">
        <div id="myTabs"><!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                          data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                           data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                </li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content-wrapper" style="min-height: 378px;">
        <div class="tab-content">
            <br/>
            <div role="tabpanel" class="tab-pane in active" id="home">
                <div class="col-md-6">
                    <div class="list-group list-group-root well">
                        <a href="#" class="list-group-item">Item 1</a>
                        <div class="list-group">
                            <a class="list-group-item">Item 1.1</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form_start(form, {'action': 'create', 'method': 'POST'}) }}
                    {{ form_errors(form) }}
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_row(form.name) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                    {{ form_row(form.user_id) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="profile">eee</div>
            <div role="tabpanel" class="tab-pane faee" id="messages">kkk</div>
            <div role="tabpanel" class="tab-pane fade" id="settings">ll</div>
        </div>
    </div>
</div>
</body>
</html>



